[nation_kharndii]

name=_("Kharndii")
plural=_("?plural:Kharndiis")
groups="Extended"
legend=_("\
The most successful barbarian empire ever to\
 exist, the Kharndii were a ruthless force that\
 travelled the world in massive hordes, taking\
 everything in their path.\
")

leaders = {
 "name",              "sex"
 "Arilla Khar",       "Male"
 "Zalia Khar",        "Female"
}

flag="barbarian"
flag_alt = "-"
style = "Asian"

init_techs="The Horde"
init_buildings=""
init_units="Horde"
init_gov="Horde"

cities = 
 "Kharn",
 "Hun'si"
 
; nothing more needed for barbarians
