[nation_skyfolk]

name=_("Skyfolk")
plural=_("?plural:Skyfolk")
groups="Medieval", "Early Modern", "Erath", "Core"
legend=_("The Skyfolk first set foot upon the Skyworld some 5000 BDR.
 Since then, they expanded into a mighty empire to rival all other
 nations. Many have been Chosen by Genesis to lead them, and their
 strength remains uncontested on the Skyworld. The Skyfolk are the 
 only medieval empire to possess an aerial division in their 
 military, giving them a huge advantage over their foes.
\n* 25% reduced population pollution.\
\n* Regenerate 25% HP while in verdant terrain instead of the usual 10%.\
")

leaders = {
 "name",                        "sex"
 "Sun Alar, Son Of War",        "Male"
 "Draco Alar",                  "Male" ; a.k.a. "Draco, The Soldier-King"
}

ruler_titles = {
 "government",      "male_title",           "female_title"
 "Anarchy",         _("Chief %s"),      _("?female:Chief %s")
 "Despotism",       _("High-Priest %s"),         _("High-Priest %s")
 "Fundamentalism",  _("Chosen %s"),         _("?female:Chosen %s")
 "Republic",        _("Lord-Chosen %s"), _("Lady-Chosen %s")
}

flag="england"
flag_alt = "united_kingdom"
style = "European"

init_techs=""
init_buildings=""
init_units=""
civilwar_nations = "aetherian"

trait_expansionist = 75
trait_trader       = 100
trait_aggressive   = 25

cities =
 "Chamera",
 "Aethil",
 "Tilford",
 "Tylaendal",
 "Zylor",
 "Yaelath",
 "Darnor"
